.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 240px;
  flex-shrink: 0;
}

.content {
  flex: 1;
  overflow-x: hidden;
}


/* stack vertically on small screens */
@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .main-layout > .sidebar {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
